# General exclusions for the repository
venv/
*.pyc
__pycache__/
.DS_Store
*.png

# Exclude IDE and editor settings
.idea/
.vscode/

# Specific exclusions for ExplainableRoboticArm
ExplainableRoboticArm/train_logs_backup.txt
ExplainableRoboticArm/ppo_robotic_arm.zip
ExplainableRoboticArm/logs/

# Optional: Exclude other temporary or large files
*.bak
*.tmp
