# General exclusions for the repository
venv/
*.pyc
__pycache__/
*.log
.DS_Store
*.zip
*.png
# Exclude virtual environment and IDE files
.idea/
.vscode/
ExplainableRoboticArm/train_logs_backup.txte
ExplainableRoboticArm/ppo_robotic_arm.zip
ExplainableRoboticArm/logs/
